body {
	margin-left: 25%;
	margin-right: 25%;
  font-family: sans-serif;
}
button {
  cursor:pointer;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  -webkit-transition-duration: 0.5s; /* Safari */
  -moz-transition-duration: 0.5s; /*Mozilla*/
  transition-duration: 0.5s;   /*Chrome and IE */
  -o-transition-duration:0.5s; /*Opera */
}
/* top nav bar styles */
.top-nav {
  width: 100%;
  display: table;
}
.logo-nav {
  width: 100px;
  vertical-align: middle;
  display: table-cell;
}
.left-nav {
  vertical-align: middle;
  list-style: none;
  text-align: left;
  display: table-cell;
  padding-left: 0;
}
.right-nav {
  width: auto;
  float: right;
   display: table-cell;
}
.top-nav-std-button {
  color: #5b6b7b;
}
/* I use class instead of id because I want to prevent possible specificity wars at login:hover, same story for other nav-bars*/ 
.login { 
    color: white ; 
    background-color: #444b57;
    background-color: rgba(68, 75, 87, 0.6);
    border-radius: 12px;
    padding: 16px 25px;
}
.right-nav {
    width: auto;
    vertical-align: middle;
}
.login:hover  {
    background-color: #444b57;
    background-color: rgba(68, 75, 87, 1);
}
/* mid nav bar styles */
.mid-nav-wrapper {
	margin-top: 30px;
  text-align: center;
}
.mid-nav {
  align-items: center;
}
.mid-nav-button {
    padding: 8px 10px;
    color:#5b6b7b;
}
.mid-nav button:hover {
    background-color: #444b57;
    color:white;
}
/* page subeadings */
.main-subheading , .subheading {
	margin-top: 150px;
  text-align: center;
  font-size: 45px;
  font-weight: 200;
}
/*change margin of word "Noortekaart" for better design*/
.main-subheading {
 margin-top: 50px;
}
/* subnav(navigaton bar which will be only for that page) */
.sub-nav {
  text-align: center;
    margin-top: 50px;
}
.sub-nav button {
    font-size: 16px;
    color:#444b57;
    padding: 6px 12px 6px 12px;
}
.sub-nav button:hover {
    background-color: #444b57;
    color:white;
}
/*short bank card description*/
.short-description {
  display: grid;
  grid-template-columns: 60% 40%;
  height: 60%;
}
.card-description {
padding-top: 15%;
padding-bottom: 20%;
text-align: left;
}
.card-image img {
  width: 100%;
  max-height: 100%;
	margin-left: auto;
	margin-right: auto;
  margin-top: 20%;
}
.small-card-image {
  width: 20%;
  float:left;
  margin-left:10%;
  cursor: pointer;
}
.ul-with-svg-check {
  list-style-image: url('../img/svg/checkSmall.svg');
}
.main-description {
  font-size: 26px;
}
.order-card {
    background-color: #444b57;
    background-color: rgba(68, 75, 87, 0.8);
    background-repeat:no-repeat;
    font-size: 20px;
    color:white;
    margin-left: 5%; 
    padding: 6px 12px 6px 12px;
}
.order-card:hover {
  background-color: #444b57;
  background-color: rgba(68, 75, 87, 1);
}
/* bank card benefits list*/
.benefits-wrapper {
  display: grid;
  grid-template-columns: 10% 40% 10% 40%;
}
.check-image img {
  width: 80%;
}
.benefits-horizontal-list {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
}
.sportland  {
  text-align: right;
}
.sportland img {
    width: auto;
    height: 100px;
}
/* awards */
.awards-content {
  display: grid;
  grid-template-columns: 35% 60%;
}
.grid-container {
  display: grid;
  grid-template-columns: 25% 70% ;
  padding: 5px;
}
.grid-container > div {
  text-align: center;
  font-size: 15px;
}
.item1 {
  grid-row-start: 1;
  grid-row-end: 4;
}
.item1 img{
  width: 60%;
}
.number-description{
display: flex;
align-items: center;
}
/* price-list */
.pricing {
border-collapse: collapse;
}
.pricing td, .pricing th { 
padding-top: 12px;
padding-bottom: 12px;
}
.pricing th {
  text-align: right;
  border-right: #444b57; /*fallback color */
  border-right: 1px solid rgba(68, 75, 87, 0.4);
  padding-right: 25px;
}
.pricing td {
  padding-left:25px;
}
/*name of service column */ 
.pricing:first-of-col {
width:10%;
}
/*app descrition */ 
.app-container {
  display: grid;
  grid-template-columns: 50% 50% ;
  margin-left: 20%;
  margin-right: 20%;
}
.app-description {
  padding: 10px;
  text-align: left;
}
.app-image img {
   width:100%;
}
.app-description li {
  margin: 0 0 10% 0;
}
.app-links {
 text-align:center;
}
.app-link{
    display:inline-block;
    padding:5px;
}
.centered-text {
  text-align:center;
}
/*bottom navigation menu */ 
.bottom-menu {
  display: grid;
  grid-template-columns:25% 25% 25% 25%;
  color:#444b57;
  font-size: 15px; 
  margin-top: 5%;
}
.bottom-menu ul {
  list-style: none;
  font-size: 12px;
}
.bottom-menu-header {
  font-weight: bold;
  margin-bottom: 8px;
}
footer {
  font-size:10px;
  color:#444b57;
}